<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <div id="logo-div">
	<%= link_to "jame's garage", root_path, id: "logo" %>
      </div>
      <div id="slogan-div">
	<p>We are a full service mechanic garage and have been proudly serving the USFK community for over 30 years!</p>
      </div>
    </div>
  </div>
</header>
